/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    margin-right: 10px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #ff3f6c; /* Change color on hover */
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-icons a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-icons a:hover {
    color: #ff3f6c; /* Change color on hover */
}

.icon-link {
    font-size: 1.2rem; /* Adjust icon size */
}
